@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Tittle"] = "AccessDenied";
}

<h1>Access Denied</h1>

<h3>You are not authorized to view this page.</h3>

<p>
    You can always <a asp-controller="Account" asp-action="Logout">log in as someone else</a>.
</p>
